<div class="alert alert-primary" role="alert" *ngIf="mensaje!=null">
    {{mensaje}}
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Posicion</td>
            <td>FechaContratacion</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="listaEmpleados.length==0">
            <td colspan="5">No hay elementos</td>
        </tr>
        <tr *ngFor="let empleado of listaEmpleados; let i =index">
            <td>{{empleado.EmpleadoID}}</td>
            <td>{{empleado.Nombre}}</td>
            <td>{{empleado.Apellido}}</td>
            <td>{{empleado.Posicion}}</td>
            <td>{{empleado.FechaContratacion}}</td>
            <td>
                <button class="btn btn-info m-2" (click)="editSolicitud(empleado.EmpleadoID)">Editar</button>
                <button class="btn btn-info m-2" (click)="mostrarSolicitud(empleado.EmpleadoID)">Ver</button>
                <button (click)="deleteSolicitud(empleado.EmpleadoID)" class="btn btn-danger m-2">Eliminar</button>
            </td>
        </tr>

    </tbody>
    <div class="card">
        <div class="card-body">
          <a href="/crear-empleado" class="btn btn-info m-2">Agregar</a> 
        </div>
    </div>
</table>