<div class="container">
    <div *ngIf="!cargando">
        <section class="text-center text-lg-start">
            <div class="card px-5 bg-dark">
                <div class="row g-0 d-flex align-items-center ">
                    <div class="col-lg-8">
                        <div class="card-body py-5">
                            <form (ngSubmit)="submit()" #forma="ngForm">
                                <h1> {{producto.ProductoID<0?'Añadir nuevo producto ':'Editar producto '+producto.ProductoID}}</h1>
                                <div class="col-md-9">
                                    <label for="Nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="Nombre" aria-describedby="Nombre"
                                        [(ngModel)]="producto.Nombre" #Nombre="ngModel" name="Nombre"
                                        [ngClass]="{'is-valid':!Nombre.invalid,'is-invalid':Nombre.invalid}">
                                </div>
                                <div class="col-md-9">
                                    <label for="Descripcion" class="form-label">Descripcion</label>
                                    <input type="text" class="form-control"
                                        id="Descripcion" aria-describedby="Descripcion"
                                        [(ngModel)]="producto.Descripcion"
                                        #Descripcion="ngModel" name="Descripcion"
                                        [ngClass]="{'is-valid':!Descripcion.invalid,'is-invalid':Descripcion.invalid}">
                                </div>
                                <div class="col-md-9">
                                    <label for="Precio" class="form-label">Precio</label>
                                    <input type="number" class="form-control"
                                        id="Precio" aria-describedby="Precio"
                                        [(ngModel)]="producto.Precio"
                                        #Precio="ngModel" name="Precio"
                                        [ngClass]="{'is-valid':!Precio.invalid,'is-invalid':Precio.invalid}">
                                </div>
                                <div class="col-md-9">
                                    <label for="Stock" class="form-label">Stock</label>
                                    <input type="number" class="form-control"
                                        id="Stock" aria-describedby="Stock"
                                        [(ngModel)]="producto.Stock"
                                        #Stock="ngModel" name="Stock"
                                        [ngClass]="{'is-valid':!Stock.invalid,'is-invalid':Stock.invalid}">
                                </div>

                                <div class="col-md-9">
                                    <label for="imagen" class="form-label">Url de la imagen</label>
                                    <input type="text" class="form-control"
                                        id="imagen" aria-describedby="imagen"
                                        [(ngModel)]="producto.imagen"
                                        #imagen="ngModel" name="imagen"
                                        [ngClass]="{'is-valid':!imagen.invalid,'is-invalid':imagen.invalid}">
                                </div>
                                <div class="row">
                                    <div class="col-12 mt-4">
                                        <button type="submit"
                                            [disabled]="!forma.valid"
                                            class="btn btn-primary">
                                            {{producto.ProductoID<0?'Agregar':'Actualizar'}}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 d-none d-lg-flex card px-5 bg-dark border-0">
                        <h1>Imagen</h1>
                        <div>
                            <img *ngIf="imagenProductoSeleccionado" [src]="imagenProductoSeleccionado" alt="Imagen del Producto" class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"/>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="alert alert-primary" role="alert" *ngIf="mensaje!=null">ta
                {{mensaje}}
            </div>
        </section>

    </div>
</div>