<div class="container">
    <div *ngIf="!cargando">
        <h1> {{solicitud.id<0?'Crear nueva solicitud':'Editar solicitud'+solicitud.id}}</h1>
    
    <div class="alert alert-primary" role="alert" *ngIf="mensaje!=null">
        {{mensaje}}
    </div>

    <form (ngSubmit)="submit()" #forma="ngForm">
        <div class="col-md-6">
            <label for="titulo_corto" class="form-label">Titulo corto</label>
            <input type="text" class="form-control" id="titulo_corto" aria-describedby="Titulo corto"
                [(ngModel)]="solicitud.titulo_corto" #titulo_corto="ngModel" name="titulo_corto" minlength="3"
                maxlength="6" [ngClass]="{'is-valid':!titulo_corto.invalid,'is-invalid':titulo_corto.invalid}" required>
            <div class="invalid-feedback" *ngIf="titulo_corto.invalid && (titulo_corto.dirty || titulo_corto.touched)">
                <div *ngIf="titulo_corto.errors?.['minlength']">
                    EL numero minimo es de 3
                    {{titulo_corto.errors|json}}
                </div>
                <div *ngIf="titulo_corto.errors?.['required']">
                    Introduzaca un titulo corto

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="titulo_corto" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcion" aria-describedby="Descripcion"
                [(ngModel)]="solicitud.descripcion" #descripcion="ngModel" name="descripcion" minlength="3"
                maxlength="6" [ngClass]="{'is-valid':!descripcion.invalid,'is-invalid':descripcion.invalid}" required>
            <div class="invalid-feedback" *ngIf="descripcion.invalid && (titulo_corto.dirty || descripcion.touched)">
                <div *ngIf="descripcion.errors?.['minlength']">
                    EL numero minimo es de 3
                    {{titulo_corto.errors|json}}
                </div>
                <div *ngIf="descripcion.errors?.['required']">
                    Introduzaca un titulo corto
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4">
                <button type="submit" [disabled]="!forma.valid" class="btn btn-primary">                   
                    {{solicitud.id<0?'Agregar':'Actualizar'}}
                </button>
            </div>
        </div>
    </form>
</div>
</div>