
<div *ngIf="solicitud" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Numero de solicitud: {{solicitud.id}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{solicitud.titulo_corto}}</h6>
      <p class="card-text">{{solicitud.descripcion}}</p>
      <a href="/editar-solicitud/{{solicitud.id}}" class="btn btn-info m-2">Editar</a>      
      <a (click)="eliminarSolicitud(solicitud.id)" class="btn btn-danger m-2 ">Eliminar</a>
    </div>
</div>
<!-- 
<div *ngIf="solicitud" class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Numero de solicitud: {{solicitud.id}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{solicitud.titulo_corto}}</h6>
    <p class="card-text">{{solicitud.descripcion}}</p>
    <a href="/editar-solicitud/{{solicitud.id}}" class="btn btn-info m-2">Editar</a>      
    <a (click)="eliminarSolicitud(solicitud.id)" class="btn btn-danger m-2 ">Eliminar</a>
  </div>
</div> -->