<div class="container">
    <div *ngIf="!cargando">
        <h1> {{venta.VentaID<0?'Crear nueva solicitud':'Editar solicitud'+venta.VentaID}}</h1>
    
    <div class="alert alert-primary" role="alert" *ngIf="mensaje!=null">
        {{mensaje}}
    </div>

    <form (ngSubmit)="submit()" #forma="ngForm">
        <div class="col-md-6">
            <label for="Fecha" class="form-label">Fecha</label>
            <input type="text" class="form-control" id="Fecha" aria-describedby="Fecha"
                [(ngModel)]="venta.Fecha" #Fecha="ngModel" name="Fecha" [ngClass]="{'is-valid':!Fecha.invalid,'is-invalid':Fecha.invalid}">
        </div>
        <div class="col-md-6">
            <label for="Total" class="form-label">Total</label>
            <input type="text" class="form-control" id="Total" aria-describedby="Total"
                [(ngModel)]="venta.Total" #Total="ngModel" name="Total" [ngClass]="{'is-valid':!Total.invalid,'is-invalid':Total.invalid}">
        </div>
        <div class="row">
            <div class="col-12 mt-4">
                <button type="submit" [disabled]="!forma.valid" class="btn btn-primary">                   
                    {{venta.VentaID<0?'Agregar':'Actualizar'}}
                </button>
            </div>
        </div>
    </form>
</div>
</div>